
[Unit]
Description=INTANG
After=multi-user.target

[Service]
Type=forking
ExecStart=/opt/INTANG/bin/intangd 10
ExecStop=/bin/bash INTANG.sh stop
KillMode=process

[Install]
WantedBy=multi-user.target

