
[Unit]
Description=INTANG
After=multi-user.target

[Service]
WorkingDirectory=/opt/INTANG/
Type=forking
ExecStart=/bin/bash INTANG.sh start
ExecStop=/bin/bash INTANG.sh stop
KillMode=process
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target

